* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #bedcfa, #da9ff9);
    display: flex;
    align-items: center;
    justify-content: center;}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.1)); /* when using rgba i can specify the opacity as last argument */
    border-radius: 2rem; 
    z-index: 2;
    backdrop-filter: blur(10px);
    display: flex;
}

.circle1, 
.circle2, 
.circle3,
.circle4 {
    background: white;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.3));
    height: 150px;
    width: 150px;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 3%;
    right: 15%;
}
.circle2 {
    bottom: 3%;
    left: 15%;
}
.circle3, 
.circle4 {
    width: 80px;
    height: 80px;
} 
.circle3 {
    bottom: 1%;
    left: 12%;
}
.circle4 {
    top: 1%;
    right: 12%;
}

.dashboard {
    flex: 1;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.3));
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem
}

.right {
    flex: 3;
}

input {
    background: rgba(255, 255, 255, 0.4);
    border: none;
    width: 30%;
    height: 30px;
    border-radius: 22px;
    margin: 50px 10px 50px 65px;
    padding-left: 10px;
}

article {
    height: 100px;
    width: 80%;
    background: linear-gradient(
        to left bottom,
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.3));
    margin: 10px;
    border-radius: 1rem;
}
.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    width: 10%;
    height: 30px;
    color: darkgrey;
    border-radius: 1rem;
}